.about_image_container.flex_container{
	justify-content:space-between;
	width: 100%;
	height: 52vh;
	overflow: hidden;
}
.about_image1{
	width: 48.5%;
	overflow: hidden;
	position: relative;
		img{
			position: absolute;
			top: -76px;
		}
}
.about_image2{
	width: 48.5%;
	position: relative;
	overflow: hidden;
		img{
			position: absolute;
			top: -95px;
		}
}
.about_text_container{
	margin:4% 0 5% 0;
	justify-content:space-between;
	flex: 1;
	width: 100%;
		.about_text{
			width: 48.5%;
			padding-right: 10%;
		}
		.skills_container{
			width: 48.5%;
		}
}
// div.skills_container{
// 	flex:1;
// 	width: 48.5%;
// 	justify-content:space-between;
// 		div.skills.flex_container{
// 			width: 48.5%;
// 			flex-direction: column;
// 			flex-wrap:wrap;
// 		}
// }
.tools_container{
	margin-left: 25%;
}
