#contact .contact_container{
	width: 100%;
	display: block;
		input[type=name], input[type=email], textarea {
			width: 100%;
			font: 0.75rem;
			border: 1px solid #bbb;
			margin-top: 20px;
			padding: 15px 0;
			text-align: left;
		}
}
section#contact>p.contact_header{
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1.25;
	width: 60%;
}
