#contact{
	margin: 6% 0 7% 0;
	width: 100%;
}
#contact>p.contact_title{
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1.25;
	margin:8% 0 7% 0;
}
.wpcf7{
	width: 53%;
	margin-bottom: 14%;
		input,textarea{
			border: 1px solid #ccc;
			background-color: #fafafa;
			padding: 10px 12px;
			border-radius:2px;
			font-size: 1rem;
			margin-bottom: 4%;
				&:focus{
					box-shadow: 0 0 2px black;
					outline: none !important;
				}
		}
		input[name=your-name],input[name=your-email]{
			width: 48%;
		}
		input[name=subject]{
			width:100%;
		}
		input[type=submit]{
			padding: 6px 16px;
			border: 1px solid black;
			border-radius: 1px;
			margin: 4% 0;
			font-size: 1rem;
			background-color: transparent;
			transition: .2s ease-in-out;
				&:hover,&:focus{
					background-color:black;
					color: white;
				}
		}
		textarea{
			width:100%;
			height:130px;
		}
}
.contact_content{
	width: 35%;
	margin-left: auto;
		p{
			font-weight: 400;
			font-size: 1rem;
		}
		p:nth-of-type(even){
			font-weight: 300;
			font-size: 0.9rem;
			padding-bottom: 20.5%;
		}
}

