footer{
	margin-bottom: 6%;
		.footer_container .flex_container{
			justify-content:space-between;
			flex:1;
				.status_container,.social{
					width: 48.5%;
					margin-bottom: 5%;
				}
		}
}

.footer_container .status_container>p.light{
	width: 30%;
}
.social>li{
	list-style: none;
	padding-right: 15px;
	float: left;
		.fa{
			font-size: 1rem;
			color: #bbb;
			transition: .2s all ease;
				&:hover,&:focus{
					color: black;
				}
		}
}
.copyright{
	width: 100%;
		p.light{
			font-size: 0.75rem;
		}
}