@media all and (max-width: 1000px){
	header h1{
		font-size: 3.4rem;
		width: 75%;
	}
	div.contact_container {
		width: 100%;
		justify-content:space-between;
	}
	div.contact_content{
		width: auto;
	}
}


@media all and (max-width: 980px){
	.about_image2 img, .about_image1 img{
		position: static;
		object-fit:cover;
		height:100%;
	}
	header h1{
		padding-top: 35%;
	}
}

@media all and (max-width: 768px){
	header h1{
		padding-top: 40%;
	}
}

@media all and (max-width: 700px){
	div.wrapper{
		width: 87%;
	}
	header h1{
		font-size: 3rem;
		padding-top: 40%;
		width:95%;
	}
	.side_nav {
		display: block;
	}
	.nav_container{
		display: none
	}
	div.contact_container{
		flex-direction:column;
			div.contact_content{
				padding-top: 5%;
				width: 100%;
				display: inline-flex;
					.contact_icon{
						padding-right: 5%;
					}
			}
	}
	#contact p.contact_title{
		width: 100%;
	}


///////////////////////// ABOUT SECTION ////////////////////////////
	div.about_text_container{
		flex-direction:column;
		margin:6% 0 7% 0;
			div.about_text,div.skills_container{
				width: 100%;
				padding: 0;
			}
			div.skills_container{
				width: 100%;
				justify-content:space-between;
				flex:1;
				padding-top: 4%;
					div.tools_container,.skills{
						width: 48.5%;
						margin-left:0;
							p{
								font-size: 0.9rem;
							}
					}
			}
	}

///////////////////////////// WORK SECTION //////////////////////////
	.work_text_container{
		flex-direction:column;
		justify-content:space-between;
		margin:8% 0 10% 0;
			.half,.other_half{
				width: 100%;
					.work_skills_container .skill_title{
						padding-top: 5%;
					}
					.work_skills_container p.skill_names{
						font-size: 0.9rem;
					}
					a.button{
						margin-top: 4%;
						padding: 8px 20px; 
					}
			}
	}
	.work_container .work_image_container{
		width: 78%;
	}
	footer{
		padding:6% 0 7% 0;
			div.flex_container div.status_container>p.light{
				width: 65%;
			}
	}
}


@media all and (max-width: 560px){
	header h1{
		font-size: 3rem;
		padding-top: 55%;
		width:85%;
	}
	.about_image_container.flex_container{
		height: auto;
			.about_image1,.about_image2{
				height:75%;
					img{
						position: static;
						object-fit:contain;
					}
			}
	}
	div.about_text_container{
		flex-direction:column;
		margin:9% 0 11% 0;
	}
	.work_container .work_image_container{
		width: 90%;
	}
	.work_text_container{
		margin:9% 0 11% 0;
	}
	div.about_text_container div.skills_container{
		padding-top: 10%;
	}
	#contact{
		padding:10% 0;
	}
	.contact_content{
		flex-direction:column;
	}
}


@media all and (max-width: 490px){
	header h1{
		padding-top: 65%;
		width: 100%;
		font-size: 2.7rem;
	}
}

@media all and (max-width: 360px){
	.work_container .work_image_container{
		width: 98%;
		padding:2% 1%;
	}
	header h1{
		font-size: 2.2rem;
		width: 95%;
		padding-top: 80%;
	}
	.side_nav{
		right:-138px;
	}
	.copyright{
		padding-top:7%;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
	header h1{
		padding-top: 110%;
	}
	#contact p.contact_title{
		font-size: 2.2rem;
	}
}

////////////////////////// IPAD/////////////////////////////
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	header h1{
		padding-top: 80%;
		width: 80%;
	}
	div.about_image_container.flex_container{
		height: auto;
	}
	.about_image1,.about_image2{
		height: auto;
			img{
				object-fit:contain;
				height: auto;
			}
	}
}


////////// IPHONE 6////////////////////////////
@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
	header h1{
		padding-top: 110%;
		width: 95%;
		font-size: 2.5rem;
	}
	#contact p.contact_title{
		font-size: 2.5rem;
	}
}


////////// IPHONE 6 PLUS///////////////////////
@media only screen and (min-device-width : 414px) and (max-device-width : 736px){
		header h1{
			padding-top: 105%;
		}
}

