@media all and (max-width: 1000px){
	h1{
		font-size: 3rem;
		padding-top: 40%;
		width: 75%;
	}
}

@media all and (max-width: 980px){

}

@media all and (max-width: 850px){

}

@media all and (max-width: 768px){
	h1{
		padding-top: 47%;
		font-size: 2.9rem;
		width: 80%;
	}
}

@media all and (max-width: 480px){
	h1{
		padding-top: 87%;
		width: 90%;
		font-size: 2.4rem;
	}
}

@media all and (max-width: 320px){

}

