@media all and (max-width: 1000px){
	header h1,header h1.scatter{
		font-size: 4vw;
	}
	div.contact_container {
		width: 100%;
		justify-content:space-between;
	}
}

@media all and (max-width: 980px){
	.about_image2 img, .about_image1 img{
		position: static;
		object-fit:cover;
		height:100%;
	}
	header{
		padding-top: 45vh;
			h1, h1.scatter{
				padding-right: 20%;
				font-size: 5.5vw;
			}
	}
}

@media all and (max-width: 768px){
	header {
		padding-top: 40vh;
			h1, h1.scatter{
				font-size: 6vw;
			}
	}
}

@media all and (max-width: 700px){
	div.wrapper{
		width: 83%;
		margin-left:7%;
	}
	.side_nav {
		display: block;
	}
	.nav_container{
		display: none
	}
	section#contact{
		padding:12% 0;
	}
	div.contact_container{
		flex-direction:column;
			div.contact_content{
				padding-top: 5%;
				width: 100%;
				display: inline-flex;
					.contact_icon{
						padding-right: 5%;
					}
			}
	}
	#contact p.contact_title{
		font-size: 6vw;
	}

///////////////////////// ABOUT SECTION ////////////////////////////
	div.about_text_container{
		flex-direction:column;
		margin:6% 0 7% 0;
			div.about_text,div.skills_container{
				width: 100%;
				padding: 0;
			}
			div.skills_container{
				width: 100%;
				justify-content:space-between;
				flex:1;
				padding-top: 4%;
					div.tools_container,.skills{
						width: 48.5%;
						margin-left:0;
							p{
								font-size: 0.9rem;
							}
					}
			}
	}

//////////////////////// WORK SECTION //////////////////////////
	div.work_text_container{
		flex-direction:column;
		justify-content:space-between;
		margin:8% 0 12% 0;
			div.half, div.other_half{
				width: 100%;
					.work_skills_container .skill_title{
						padding-top: 5%;
					}
					.work_skills_container p.skill_names{
						font-size: 0.9rem;
					}
					a.button{
						margin-top: 4%;
						padding: 8px 20px; 
					}
			}
	}
	.work_container .work_image_container{
		width: 78%;
	}
	footer{
		padding:12% 0;
			div.flex_container div.status_container>p.light{
				width: 65%;
			}
	}
}

@media all and (max-width: 560px){
	div.about_image_container.flex_container{
		height: 100%;
			.about_image1,.about_image2{
				height:75%;
					img{
						position: static;
						object-fit:contain;
					}
			}
	}
	div.about_text_container{
		flex-direction:column;
		margin:9% 0 11% 0;
	}
	.work_container .work_image_container{
		width: 90%;
	}
	div.work_text_container{
		margin:9% 0 15% 0;
	}
	div.about_text_container div.skills_container{
		padding-top: 10%;
	}
	#contact{
		padding:10% 0;
	}
	.contact_content{
		flex-direction:column;
	}
}

@media all and (max-width: 460px){
	header h1, header h1.scatter{
		font-size: 7vw;
	}
	.side_nav{
		right:-130px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
	#contact p.contact_title{
		font-size: 10vw;
	}
	.work_container .work_image_container{
		width: 98%;
		padding:2% 1%;
	}
	.copyright{
		padding-top:7%;
	}
}

//////////////// NEXUS5S //////////////////
@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
	#contact p.contact_title{
		font-size: 2.2rem;
	}
}

/////////////////// IPAD //////////////////
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.about_image_container.flex_container{
		height: 100%;
	}
	.about_image1,.about_image2{
		height: auto;
			img{
				object-fit:contain;
				height: auto;
			}
	}
}

// /////////////// IPHONE 6/////////////////////
// @media only screen and (min-device-width : 375px) and (max-device-width : 667px){
// 	#contact p.contact_title{
// 		font-size: 10vw;
// 	}
// }