header{
	width: 100%;
}
h1{
	padding-top: 26%;
	width: 60%;
	height: 100vh;
}
.nav_container{
	width: 90%;
	z-index: 1000;
	position: fixed;
}
nav{
	display: block;
	justify-content:space-between;
	align-items:center;
	left:auto;
	right:auto;
	width: 100%;
	padding: 20px 0 15px 0;
	background-color: #FAFAFA;
	opacity: 0.85;
		ul#menu-main-nav{
			display: flex;
			align-items:center;
				li{
					cursor: pointer;
				}
				li>a{
					padding: 6px 16px;
					margin-left: 20px;
					border: 1px solid transparent;
					border-radius: 1px;
					font-size: 1.1rem;
					transition: 0.2s ease-in-out;
						&:hover,&:focus{
							border-color:black;
						}
				}
		}
}
nav.flex_container a p{
	font-size: 1.125rem;
}

// .ham_nav{
// 	cursor:pointer;
// 	top: 80px;
// 	z-index: 1000;
// }
