header{
	width: 100%;
}
h1{
	padding-top: 26%;
	width: 60%;
	height: 100vh;
	transition: .4s all ease;
}
.nav_container{
	width: 100%;
	padding: 0 5%;
	z-index: 1000;
	position: fixed;
	background-color: rgba(250,250,250,0.7);
}
nav{
	display: block;
	justify-content:space-between;
	align-items:center;
	left:auto;
	right:auto;
	transition:0.3s all ease;
	width: 100%;
		ul#menu-main-nav{
			display: flex;
			align-items:center;
				li{
					cursor: pointer;
				}
				li>a{
					padding: 6px 13px;
					margin-left: 20px;
					border: 1px solid transparent;
					border-radius: 1px;
					font-size: 1.1rem;
					transition: 0.2s ease-in-out;
						&:hover,&:focus{
							border-color:black;
						}
				}
		}
		a p{
			font-size: 1.125rem;
			transition: 0.2s all ease;
				&:focus,&:hover{
				color: black;
				text-decoration: line-through;
			}
		}
}
nav.large{
	height:100px;
}
nav.small{
	height:38px;
}

///////////////HAMBURGER NAV///////////////
#ham_nav{
	position: absolute;
	display: none;
	cursor:pointer;
	transform:rotate(450deg);
	right: -5.5%;
	top: 35px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	z-index: 1000;
		&:hover,&:focus{
			color: black;
			text-decoration: line-through;
		}
}

