h1, h2{
	font-family: 'roboto', sans-serif;
}
h1{
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.25;
}
h2{
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
}
a{
	color: black;
	text-decoration: none;
		>&:hover, &:focus {
			color: black;
			border-bottom: 1px solid black;
			padding-bottom: 2px;
		}
}

a.button{
	color: #151515;
	padding: 10px 4%;
	border: 1px solid black;
	transition: .2s ease-in-out;
	border-radius: 1px;
	font-size: 1.124rem;
		>&:hover,&:focus{
			background-color: black;
			color: white;
		}
}

/* paragraphs */

p {
	line-height: 1.6;
	font-weight: 300;
}
p.light{
	color: #666666;
		a{
			color: black;
			text-decoration: underline;
				&:hover, &:focus{
					color: black;
				}
		}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
	list-style: none;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}