section #work{
	margin:5% 0 6% 0;
}
.work_text_container{
	width: 100%;
}
.work_container{
	width: 100%;
		.work_image_container{
			width: 61%;
			padding: 4% 0;
			margin: 0 auto;
				img{
					width: 100%;
					-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
					box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
					transition: 0.8s opacity;
						&:focus,&:hover{
							opacity: 0.85;
						}
				}
		}
}
.work_container:nth-child(1) .work_inner_container{
	background-color: rgba(181,38,56,0.7);
}
.work_container:nth-child(2) .work_inner_container{
	background-color: rgba(158,158,158,0.4);
}
.work_container:nth-child(3) .work_inner_container{
	background-color: rgba(62,88,224,0.1);
}

.work_text_container{
	flex:1;
	justify-content:space-between;
	margin:4% 0 6% 0;
		.half,.other_half{
			width: 48.5%;
		}
		.other_half{
			p.skill_title{
				font-weight: 400;
				padding-top: 2.5%;
			}
			p.skill_names{
				display: inline-flex;
			}
			.button{
				display: inline-block;
				padding: 6px 16px;
				width: auto;
				border: 1px solid black;
				border-radius: 1px;
				margin: 3% 3% 0 0;
				transition: .2s ease-in-out;
					a.button{
						font-size: 0.9rem;
					}
						&:focus,&:hover{
							background-color: black;
							color: white;
						}
			}
		}
}